<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html style="" class=" js no-flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<!--<![endif]-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Epsilon Tech</title>
	<meta name="description" content="Epsilon Tech">
	<meta name="author" content="Epsilon Tech - Development &amp; Consulting">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/owl_002.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/owl.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/animate.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/css.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.pnotify.default.css">

	<script src="{{STATIC_URL}}js/iframe_api.js"></script>
	<script src="{{STATIC_URL}}js/modernizr-2.js"></script>
	<script src="{{STATIC_URL}}js/mutationObserver.js"></script>
</head>

<body style="background: none repeat scroll 0% 0% rgb(52, 152, 219); overflow: visible;">
	<nav class="bt-menu-close" id="menu-toggle">
		<a class="bt-menu-trigger" href="#"><span>Menu</span></a>
	</nav>
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">Navigation</li>
			<li class="show-modal nav-newsletter" data-modal="newsletter">
				<a href="#"><i class="fa fa-envelope-o"></i> Newsletter</a>
			</li>
			<li class="show-modal nav-about" data-modal="about">
				<a href="#"><i class="fa fa-flask"></i> About</a>
			</li>
			<li class="show-modal nav-contact" data-modal="contact">
				<a href="#"><i class="fa fa-users"></i> Contact</a>
			</li>
		</ul>
	</div>

	<section id="modal">
		<div class="bt-modal-close"><span></span></div>
		<article id="modal-newsletter">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2><i class="fa fa-envelope-o"></i> Subscribe to our newsletter</h2>
					</div>
					<div class="col-md-6">
						<p>
							Be the first one to know when we go live. Get <b>awesome</b> news 
							about our company and always stay up to date with us.
						</p>
					</div>
					<div class="col-md-6">
						<form id="newsletter-form" class="form-inline" role="form">
							<div class="form-group">
								<label class="sr-only" for="emailInputNewsletter">Email address</label>
								<input name="emailInputNewsletter" class="form-control" id="emailInputNewsletter" placeholder="Enter your email" type="email">
								<button id="newsletter-submit" type="submit" class="btn btn-submit">
									<i class="fa fa-check"></i> SUBMIT
								</button>
							</div>
							<small>Don't worry we will not use your email for spam</small>
							<div id="newsletter-form-response"></div>
						</form>
					</div>
				</div>
			</div>
		</article>

		<article id="modal-about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2><i class="fa fa-flask"></i> What we do</h2>
						<p>We create awesome stuff. Check out what we can do for you!</p>
						<div id="owl-carousel" class="owl-carousel owl-theme">
							<div class="item">
								<div class="owl-container text-center">
									<div class="img-container">
										<img src="{{STATIC_URL}}img/1.png" class="img-responsive" alt="">
									</div>
									<h2>We Work</h2>
									<p>We work 24/7 a day to keep you satisfied.</p>
								</div>
							</div>
							<div class="item">
								<div class="owl-container text-center">
									<div class="img-container">
										<img src="{{STATIC_URL}}img/2.png" class="img-responsive" alt="">
									</div>
									<h2>We Love</h2>
									<p>We love our products.</p>
								</div>
							</div>
							<div class="item">
								<div class="owl-container text-center">
									<div class="img-container">
										<img src="{{STATIC_URL}}img/3.png" class="img-responsive" alt="">
									</div>
									<h2>We're Mobile</h2>
									<p>Connect with us from any device.</p>
								</div>
							</div>
							<div class="item">
								<div class="owl-container text-center">
									<div class="img-container">
										<img src="{{STATIC_URL}}img/4.png" class="img-responsive" alt="">
									</div>
									<h2>We Repair</h2>
									<p>Something is broken? We can fix it.</p>
								</div>
							</div>
							<div class="item">
								<div class="owl-container text-center">
									<div class="img-container">
										<img src="{{STATIC_URL}}img/5.png" class="img-responsive" alt="">
									</div>
									<h2>We Conjure</h2>
									<p>We've got some magic hands.</p>
								</div>
							</div>
							<div class="item">
								<div class="owl-container text-center">
									<div class="img-container">
										<img src="{{STATIC_URL}}img/6.png" class="img-responsive" alt="">
									</div>
									<h2>We Drink</h2>
									<p>30 cups of coffee a day.</p>
								</div>
							</div>
							<div class="item">
								<div class="owl-container text-center">
									<div class="img-container">
										<img src="{{STATIC_URL}}img/7.png" class="img-responsive" alt="">
									</div>
									<h2>We find</h2>
									<p>We find what you are looking for.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>

		<article id="modal-contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2><i class="fa fa-users"></i> Contact</h2>
					</div>
					<div class="col-md-6">
						<h3>Our Address</h3>
						<address>
							<strong>Epsilon Tech</strong><br>
							20 rue El Boustane, Ennkhilet<br>
							Ariana, 2083 Tunisia<br>
							<abbr title="Phone">P:</abbr> (216) 23 164 111<br>
							<a href="mailto:#">contact@epsilon.tn</a>
						</address>
						<p>You can get in touch with us 24 hours, 7 days a week.</p>
					</div>
					<div class="col-md-6">
						<h3>Where we are located</h3>
						<figure>
							<img src="{{STATIC_URL}}img/staticmap.png" alt=" ">
						</figure>
					</div>
				</div>
			</div>
		</article>
	</section>

	<section id="head">
		<div class="container">
			<div class="row animated bounceInDown visible" data-animation-delay="500" data-animation="bounceInDown">
				<div class="col-md-12 text-center">
					<h1>Under <br>Construction</h1>
					<hr>
					<h3>
						Hey we are <b>Epsilon Tech</b>. We are currently working on our new site. Stay tuned<br>
						You can subscribe to our newsletter in order to get notified when we launch.<br><br>
						Subscribe to our <a href="#" class="show-modal btn btn-default" data-modal="newsletter">
							<i class="fa fa-envelope-o"></i> Newsletter
						</a>
					</h3>
				</div>
			</div>

			<div class="row">
				<div class="divider">
					<i class="fa fa-clock-o"></i> <h2>We will be back in</h2>
				</div>
			</div>

			<div class="row	countdown">
				<div class="col-md-3 animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0">
					<div id="days"></div><div id="days-text">Days</div>
				</div>
				<div class="col-md-3 animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="200">
					<div id="hours"></div><div id="hours-text">Hours</div>
				</div>
				<div class="col-md-3 animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="400">
					<div id="minutes"></div><div id="minutes-text">Mins</div>
				</div>
				<div class="col-md-3 animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="600">
					<div id="seconds"></div><div id="seconds-text">Secs</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row text-center animated bounceIn visible" data-animation-delay="200" data-animation="bounceIn">
				<div class="col-md-12">
					<div class="social-icons">
						<a id="linux_mini_info"     href="" target="_blank" class="linux"><i class="fa fa-linux"></i></a>
						<a id="android_mini_info"   href="" target="_blank" class="android"><i class="fa fa-android"></i></a>
						<a id="github_mini_info"    href="" target="_blank" class="github-square"><i class="fa fa-github-square"></i></a>
						<a id="bitbucket_mini_info" href="" target="_blank" class="bitbucket"><i class="fa fa-bitbucket"></i></a>
						<a id="google_mini_info"    href="" target="_blank" class="google-plus-square"><i class="fa fa-google-plus-square"></i></a>
					</div>
				</div>
				<p class="copy">© Epsilon Tech 2014</p>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/plugins.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/owl.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.pnotify.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$("body").css({
				"background":"#3498db"
			});
		});
		$(window).load(function(){});
	</script>
</body>
</html>
